.header-img-container{
    padding: 1rem 0;
    text-align: center;
}
.navbar.navbar-light {
    border: solid #858585;
    border-width: 2px 0;
    padding: .5rem 0;
}
.nav-item.active .nav-link {
    color: #43aa9d !important;
}
.nav-link {
    font-size: 19px;
    font-family: 'CorpusSans';
    color: #b6b6b6 !important;
    line-height: 1;
    letter-spacing: 1px;
    padding-left: 0 !important;
    width: 375px;
}
.nav-item:nth-of-type(3) .nav-link {
    text-align: center;
    width: 320px;   
}
.nav-item:nth-of-type(2) .nav-link {
    text-align: center;
    width: 360px;
}
.nav-link.active, .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #49beb4 !important;
}
.container-fluid.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btn-link, .lista-preguntas > li {
    font-family: 'CorpusSans';
    font-size: 28px;
    letter-spacing: .6px;
    color: #49beb4;
    padding: .375rem 0 !important;
}
.btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none !important;
    color: #49beb4;
    opacity: .8;
}
.btn-link {
    text-align: left;
    white-space: unset;
}
.card {
    border: 0 !important;
}
.card-header {
    padding: 0 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}
.card-body, .lista-preguntas > p {
    padding: 1.25rem 3rem;
    font-family: 'RadikalLight';
    font-size: 16px;
    color: #474747;
}
@media only screen and (min-width: 1024px) and (max-width: 1240px) {
    .nav-link {
        width: 335px;
    }
    .nav-item:nth-of-type(2) .nav-link {
        width: 280px;
    }
    .nav-item:nth-of-type(3) .nav-link {
        width: 165px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav-item .nav-link {
        text-align: left !important;
    }
}
@media only screen and (max-width: 767px) {
    .container-fluid {
        padding: 0 10px;
    }
    .nav-item .nav-link {
        text-align: left !important;
    }
    .btn-link, .lista-preguntas > li {
        font-size: 22px;
    }
    .card-body, .lista-preguntas > p {
        font-size: 14px;
        padding: 1.25rem .5rem;
    }
    .nav-link {
        font-size: 16px;
    }
}