  @font-face {
    font-family: 'CorpusSans';
    src: url('../fonts/CorpusSans.otf') format("opentype");
  }
  @font-face {
    font-family: 'RadikalLight';
    src: url('../fonts/Nootype\ -\ Radikal\ Light.otf') format("opentype");
  }
  @font-face {
    font-family: 'RadikalBold';
    src: url('../fonts/Nootype\ -\ Radikal\ Bold.otf') format("opentype");
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  body, button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  label {
    display: block;
    color: #fff;
    font-family: 'RadikalLight';
    font-size: 16px;
  }
  input, textarea {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 100%;
    min-height: 35px;
    padding-left: 10px;
  }
  .container-fluid {
    padding: 0 30px;
  }
  .backgroundBowish {
    background-image: url('../img/bowish_stars_1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    max-width: 100%;
  }
  nav>ul {
    list-style-type: none;
  }
  #top-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 20px 0;
    background: transparent;
  }
  .nav-color {
    background-color: #000 !important;
    opacity: .8;
  }
  #top-nav li, #top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
  }
  #top-nav li, #top-nav a {
    display: inline-block;
  }
  #top-nav a {
    padding: 20px;
    color: #333;
    text-decoration: none;
  }
  .logo-container {
    width: 178px;
  }
  section {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .wrap {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
  }

  footer {
    background-color: #f2f2f2;
    color: #6d6d6d;
    font-family: 'RadikalLight';
    font-size: 14px;
    padding: 85px 0 25px;
  }
  .footer-img-container {
    width: 285px;
    height: 70px;
    margin-bottom: 49px;
  }
  .footer-img-container img {
    height: 100%;
  }
  .copyright {
    margin-top: 40px; 
  }
  button {
    font-size: 18px;
    border: 0;
    padding: 15px 30px;
    background: #00AC7F;
    color: #fff;
    cursor: pointer;
  }
  #section-1 {
    padding-top: 90px;
  }
  #section-2 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #section-3 {
    padding-top: 70px;
    padding-bottom: 45px;
  }
  #section-4 {
    padding-top: 120px;
  }
  #section-5 {
    padding-top: 60px;
  }
  .special-img {
    position: relative;
    right: -30px;
    top: 60px;
    z-index: 1;
  }
  .section-subtitle {
    font-size: 28px;
    font-family: 'CorpusSans';
    color: #49beb4;
    line-height: 1;
  }
  .section-title {
    font-size: 58px;
    font-family: 'CorpusSans';
    color: #fff;
    line-height: 1.2;
    margin-top: 12px;
  }
  .section-title>span {
    color: #49beb4;
  }
  .section-description {
    font-size: 15px;
    font-family: 'RadikalLight';
    color: #fff;
  }
  .section-img-container {
    width: 100%;
    max-width: 586px;
  }
  #section-3 {
    background-color: #c15bfc;
  }
  .content-container {
    color: #fff;
  }
  .content-title {
    font-family: 'RadikalBold';
    font-size: 15px;
    display: table;
    margin: 20px 0;
  }
  .content-title .content-number {
    display: table-cell;
    width: 42px;
    border: 3px solid #fff;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
  }
  .content-title .content-number div {
    position: relative;
    top: 2px;
  }
  .content-title .text {
    padding-left: 16px;
    margin: 0;
    line-height: 1.2;
  }
  .content-description {
    font-family: 'RadikalLight';
    font-size: 14px;
    width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    max-height: 90px;
    overflow: hidden;
  }
  #section-4 {
    background-color: #ffb140;
  }
  .download-description {
    font-family: 'RadikalLight';
    font-size: 17px;
    color: #fff;
    height: 170px;
    max-height: 170px;
    margin: 40px 0;
    overflow: hidden;
  }
  #section-5 {
    background-color: #a1a1a1;
  }
  .submit-button {
    color: #fff;
    background-color: #058e85;
    font-family: 'RadikalBold';
    font-size: 16px;
    padding-top: 5px;
    border-color: #058e85;
    min-height: 40px;
  }
  .submit-button:hover {
    background-color: #038077;
  }

  .footer-title {
    font-family: 'RadikalBold';
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .footer-list {
    list-style-type: none;
    text-align: left;
  }
  .footer-list>li::before{
    content: "-";
  }
  .footer-list>li {
    margin-bottom: 10px;
  }
  .footer-list>li>a {
    color: #6d6d6d;
    font-size: 15px;
  }
  .footer-list>li>a:hover, .footer-list>li>a:focus, .footer-list>li>a:active {
    opacity: .8;
    text-decoration: none;
  }
  .vertical-line {
    border-right: 1px solid #6d6d6d;
  }
  .rrss-list>li {
    margin-bottom: 10px;
  }
  .rrss-list>li::before {
    content:"";
  }
  .rrss-list .fa {
    font-size: 28px;
    margin-right: 8px;
  }
 .img-instagram {
    width: 27px;
    margin-right: 7px;
  }
  .bowish-btn {
    display: inline-block;
    border: 2px solid #49beb4;
    border-radius: 12px;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: #49beb4;
    font-family: 'RadikalBold';
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 1;
  }
  .bowish-btn:hover, .bowish-btn:focus, .bowish-btn:active {
    color: #49beb4;
    text-decoration: none;
    opacity: .8;
  } 
  .special-container {
    position: relative;
    right: 0;
    margin-right: -30px;
  }
@media only screen and (min-width: 1024px) and (max-width: 1240px) {
    section {
      min-height: 50vh;
      max-height: 50vh;
    }
    .section-title {
      font-size: 45px;
    }
    #section-1 {
      padding-top: 115px;
    } 
    .content-title {
      font-size: 11px;
    }
    .content-description {
      max-height: 185px;
    }
    .store-img {
      max-width: 160px;
    }
    .footer-img-container {
      width: 217px;
      height: 65px;
      margin-bottom: 40px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    max-height: unset;
  }
  #section-1 {
    padding-top: 185px;
  }
  .section-title {
    font-size: 40px;
  }
  .section-subtitle {
    font-size: 25px;
  }
  .special-img {
    width: 95%;
    right: -57px;
  }
  .contact-form-img {
    margin: 25px 0;
  }
  .section-img-container {
    max-width: 550px;
    margin: 50px auto;
  }
  #section-3 {
    padding-top: 40px;
  }
  #section-3 .section-title {
    margin-bottom: 35px;
  }
  .logo-container {
    width: 160px;
  }
  .fa-bars {
    font-size: 35px;
  }
  /* footer .vertical-line:nth-of-type(2) {
    border: transparent;
  } */
  .footer-img-container {
    width: 208px;
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  section {
    max-height: unset;
  }
  .section-subtitle {
    font-size: 22px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-description {
    font-size: 13px;
    margin: 1rem 0 2rem;
  }
  .section-img-container {
    max-width: 330px;
    margin: auto;
  }
  #section-4, #section-3, #section-5 {
    padding-top: 50px;
  }
  .logo-container {
    width: 140px;
  }
  #top-nav {
    height: 60px;
    padding: 10px 0;
  }
  .im-bowish {
    margin-left: 0 !important;
  }
  .store-img {
    width: 130px;
    margin-bottom: 25px;
  }
  #section-5 {
    padding-bottom: 20px;
  }
  .vertical-line {
    border: transparent;
  }

}
@media only screen and (max-width: 360px) {
  .content-title {
    font-size: 14px;
  }
  .content-description {
    max-height: 170px;
  }
}
@media only screen and (max-width: 320px) {
  .section-subtitle {
    font-size: 23px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-description {
    font-size: 15px;
  }
  .store-img {
    max-width: 95%;
  }
  .special-img {
    position: relative;
    left: 30px;
  }
  .logo-container {
    width: 120px;
  }
  .fa-bars {
    font-size: 25px;
  }
  #right-nav ul>li>a {
    font-size: 18px;
  }
}